@page "{Name}/{Destination}"
@model VirginGalactic2.Pages.Bookings.SuccessModel
@{
}

<h1>Thank you!, @Model.Name</h1>
<p>
    Your booking to @Model.Destination is confirmed!
</p>
<p>
    xoxo Richard Branson
</p>
<a href="../../../" class="btn btn-primary">Back to Home</a>
