@page
@model IndexModel
@{
    ViewData["Title"] = "Virgin Galactic";
}

<div class="text-center">
    <h1 class="display-4">Virgin Galactic</h1>
    <p>Book a spaceflight!</p>
    <p>
        <a href="Bookings/Book" class="btn btn-primary">Book!</a>
    </p>
    <p>
        <a href="Bookings/Index">DebugDB</a>
    </p>

</div>
